.donations-form {
  text-align: center;
    height: middle;
    border-style: solid;
    border-width: 10px;
    border-color: #1eb25c;
    background-color: #fff;
    color: black;
    position: right;
    margin-left: 40%;
    margin-right: 10%;
    height: 65vh;
}

.donation-box{
  padding-top: 10%;
  /* border-color:  #b7e4cf;
  border-style: solid; 
  border-width: '1px'; */
  padding-bottom: 5%;
}

.donation-pitch{
  padding-top: 2%;
  padding-bottom: 2%; 
  background-color:  #50b8e7;
  color: black; 
  border-bottom-style: solid;
  border-bottom-color: #50b8e7;
  border-bottom-width: 5%
}

.donation-page {
  background-image: url("https://www.treecouncil.org.uk/DesktopModules/tc.Gallery/images/455/75940c9a-91d0-4e8b-911f-160cd04a3c3f.jpg");
  background-repeat: no-repeat;
  background-size: 100%  90vh;
}

.FEC-bar {
  background-color: #50b8e7;
  padding-top: 3%;
}

.FEC {
  font-size: small;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  /* padding-top: 15%; */
  /* padding-bottom: 5%; */

}

.FEC-rules {
  text-decoration: underline;
}


