.event-div-style {
  /* padding-top: 1%;
  padding-bottom: 1%; */
  margin-top: 2%;
}

.event-div {
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
  border-style: solid;
  border-width: 10px;
  border-color: #1eb25c;
  background-color: #fff;
  color: black;
}

.class-content {
  text-align: center;
}

.form-border {
  border-color: #1eb25c;
  border-style: solid;
  border-width: 10px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #ffea00;
}
