/* leslie knope colors: 
blue: #50b8e7;
green: #1eb25c;
yellow: #ffea00;
*/

/* Murals: https://imgur.com/gallery/SBE95 */

.App {
  text-align: center;
}

.App-header {
  /* background-color: #1eb25c; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.donationsBar {
  background-color: #ffea00;
  text-align: center;
  height: 10%;
  width: 100%;
  z-index: 2;
  position: sticky;
  position: absolute;
  margin: 0%;
  /* margin-left: auto;
  margin-right: auto; */
  color: black;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.giving-text {
  padding: 2%;
  color: 'black';
  margin: 0%;
}

.button-login {
  cursor: pointer;
  color:  black;
  padding-left: 3%;
  padding-right: 3%;
  text-align: center;
  background-color: #ffea00;
  padding-bottom: 2%;
  padding-top: 2%;
  border-radius: 5px;
  /* background-image: url('./images/MenuBar.jpg'); */
  border-color: #ffea00;
  border-width: 1px;
  font-size: 16px
}

.top-menu {
  background-color: #ffea00; 
  margin-left: auto;
  margin-right: auto;
  color: 'black';
  width: 100%;
}

.issue-page {
  margin-left: 10%;
  margin-right: 10%;
}

.youtube-block-grid {
  padding-top: 3%;
}

.youtube {
  margin-left: 10%;
  margin-right: 10%;
  background-color:  #1eb25c; 
  padding: 1%;
  margin-top: 3%;
}

.twitter {
  padding-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
 
}

.twitter-box{
  background-color: #fff; 
  padding: 1%;
  border-color: #1eb25c;
  border-style: solid;
  border-width: 10px;
}

.wrapper {
  display: grid;
  margin-left: 5%;
  margin-right: 5%;
  grid-template-columns: 200px 200px 200px 200px;
  padding-top: 2%;
}